/* **** **** **** **** **********************
PAGE : User/Account
********************** **** **** **** **** */

// BEGIN SIDEBAR
.user-sidebar-element {
    font-size: 2.2rem;
    margin: 2rem 0;
    @include media-breakpoint-down(sm) {
        margin: 1rem 0;
    }

    &:last-child {
        margin-top: 6rem;
    }

    .form-field {
        @include media-breakpoint-down(sm) {
            margin: 0;
        }
    }

    input[readonly],
    select[readonly] {
        color: $c-grey;
    }
}

.user-action-link {
    font-size: 2rem;
    display: block;
    margin: 1rem 0;
}
// ENDS SIDEBAR




// BEGIN MAIN CONTENT
.table-sales,
.table-points,
.table-billings {
    margin: 2rem 0;
    
    tbody tr td {
        font-size: 1.6rem;
    }
}

.table-sales,
.table-points {
    tbody tr > td {
        text-transform: uppercase;
    }
}

.table-billings {
    overflow-x: scroll;
}
#table-billings_wrapper {
    @include media-breakpoint-down(sm) {
        display: none;
    }
}


.billing-upload {
    margin-top: 2rem;
}
#billing_upload {
    opacity: 0;
    pointer-events: none;
    transition: $trans-base;

    &.active {
        opacity: 1;
        pointer-events: initial;
    }
}
// ENDS MAIN CONTENT