/* **** **** **** **** **********************
PAGE : Registration
PARTIAL : Form
********************** **** **** **** **** */

.registration-form-section {
    margin-top: 4rem;
}

.registration-informations {
    padding: 2rem;
    background: $c-form;
}

.registration-step .spark-screen.container {
  padding-right: 0;
  padding-left: 0;
}
#subscription .table td {
  vertical-align: top;
  &.select-plan {
    vertical-align: middle;
  }
}
.subscription__radio-select{
  display: inline-block;
  height: 15px;
  width: 15px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 50%;
}

.radio-select-selected{
  background-color: $c-primary;
}
