/* **** **** **** **** **********************
PAGE : Registration
PARTIAL : Navigation
********************** **** **** **** **** */

.registration-navigation {

    .arrow-steps {
        display: flex;
        align-items: stretch;
    }

    .arrow-steps .step {
        pointer-events: none;
        cursor: default;

        flex: 1;
        font-size: 2rem;
        text-align: center;
        color: $c-primary;
        cursor: default;
        margin: 0 3px;
        padding: 15px 10px 15px 30px;
        position: relative;
        background-color: $c-grey-blue;
        transition: $trans-base;
        @include media-breakpoint-down(md) {
            padding: 10px 10px 10px 30px;
        }
        @include media-breakpoint-down(sm) {
            font-size: 1.6rem;
            padding: 6px 10px 6px 30px;
        }
        @include media-breakpoint-down(xs) {
            flex: 0.2;
            font-size: 1.4rem;
            padding: 6px 0px 6px 20px;
        }

        &:last-child {
            @include media-breakpoint-down(xs) {
                flex: 1;
                padding: 6px 10px 6px 22px;
            }
        }
        
        // &:hover {
        //     background-color: darken($c-grey-blue, 10%);
        //     &:after {
        //         border-left-color: darken($c-grey-blue, 10%);
        //     }
        // }
    }
    
    .arrow-steps .step:after,
    .arrow-steps .step:before {
        content: " ";
        position: absolute;
        top: 0;
        right: -17px;
        width: 0;
        height: 0;
        border-top: 27px solid transparent;
        border-bottom: 27px solid transparent;
        border-left: 17px solid $c-grey-blue;	
        z-index: 2;
        transition: $trans-base;
        @include media-breakpoint-down(md) {
            border-top: 22px solid transparent;
            border-bottom: 22px solid transparent;
        }
        @include media-breakpoint-down(sm) {
            border-top: 18px solid transparent;
            border-bottom: 18px solid transparent;
        }
    }
    
    .arrow-steps .step:before {
        right: auto;
        left: 0;
        border-left: 17px solid $c-white;	
        z-index: 0;
    }
    
    .arrow-steps .step:first-child:before,
    .arrow-steps .step:last-child:after {
        border: none;
    }

    .arrow-steps .step a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .arrow-steps .step-name {
        @include media-breakpoint-down(xs) {
            display: none;
        }
    }
    
    .arrow-steps .step.current {
        pointer-events: initial;
        cursor: pointer;

        background-color: $c-accent;
        color: $c-white;

        &:hover {
            background-color: darken($c-accent, 10%);
            &:after { 
                border-left: 17px solid darken($c-accent, 10%); 
            }
        }

        &:after {
            border-left: 17px solid $c-accent;	
        }
    }    
    
    .arrow-steps .step.done {
        pointer-events: initial;
        cursor: pointer;

        background-color: $c-valid;
        color: $c-white;
        
        &:hover {
            background-color: darken($c-valid, 10%);
            &:after { 
                border-left: 17px solid darken($c-valid, 10%); 
            }
        }

        &:after {
            border-left: 17px solid $c-valid;	 
        }
    }

}