.home-page{


  /*********************************
   * hero component inside hompage *
   *********************************/
    .hero{
      padding-top:6rem;
      padding-bottom:6rem;
      @include media-breakpoint-down(sm) {
        padding-top:4rem;
        padding-bottom:4rem;
      }
      .col-md-10, col-12    {
        display:flex;
      }      
    }
    .hero-content{
      display:flex;
      flex-direction: column;
      width:50%;
    }
    .hero-content__img{
      width:26rem;
      max-width:26rem;
      margin: 0 auto 5rem;
      background: $c-white;
      border-radius: 50rem;
    }
    .hero-content__text{
      font-size: 3rem;
      line-height: 4rem;
      text-align: center;
    }
}
.page-content--home{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.home__hero--right-side{
    width:50%;
}

@media screen and (max-width: $lg-break) {
  .page-content--home{
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0;
  }
  .home__hero--right-side{
    width:100%;
  }
  .home-page{
    .hero-content{
      width:100%;
    }
    .hero{
      .col-md-10, col-12    {
        flex-direction:column-reverse;
      }  
    }
  }

}
