/* **** **** **** **** **********************
PAGE : Page (cms)
********************** **** **** **** **** */

.cms-page {


    h1 {
        font-family: $f-primary-bold;
        font-size: 2.3rem;
        line-height: 2.6rem;
        letter-spacing: 1px;
        color: $c-primary;
        margin: 3rem 0 1rem;
    }

    div {
        color: $c-grey;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    strong {
        color: $c-primary;
    }
    
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: underline;
        }
    }
    
    ul, ol {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    ul {
        li:before {
            content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: $c-primary; /* Change the color */
            font-weight: bold; /* If you want it to be bold */
            display: inline-block; /* Needed to add space between the bullet and the text */ 
            width: 0.8em; /* Also needed for space (tweak if needed) */
        }
    }
    ol {
        list-style-type: decimal;
        margin-left: 1.5rem;
    }


}