.password-reset{
	margin:100px auto;
	min-height: 40vh;
}

.password-reset__title{
	position: absolute;
	background-color:$c_white;
	display: block;
	padding:0rem 0.5rem;
	z-index: 99;
	top: -2rem;
	left:0.5rem;
	font-family: $f-primary;
	color:$c-grey;
}

.password-reset__card{
	padding-top:3rem;
}