// VENDORS
// Normalize
@import '~normalize-scss/sass/normalize';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Font Awesome
@import '~@fortawesome/fontawesome-free/css/fontawesome';
@import '~@fortawesome/fontawesome-free/css/solid.min.css';
// DataTables
// @import '~datatables.net-dt/css/jquery.dataTables';


// FONTS
@import url('https://fonts.googleapis.com/css?family=Nunito');


// GLOBAL
@import 'global/variables';
@import 'global/fonts';
@import 'global/global';
@import 'global/buttons';
@import 'global/links';
@import 'global/form';
@import 'global/table';
@import 'global/notifications';


// PARTIALS
@import 'partials/header';
@import 'partials/footer';

// COMPONENTS
@import 'components/form';
@import 'components/hero';
@import 'components/login';


// LAYOUTS
@import 'layouts/container-sidebar';


// PAGES
@import 'pages/page';
@import 'pages/home';
@import 'pages/password';
// Registration
@import 'registration/partials/navigation';
@import 'registration/partials/form';
// User
@import 'user/account';
@import 'user/contacts';
// Shop
@import 'shop/partials/products-list-cart';
@import 'shop/partials/product-card';
// Cart
@import 'cart/cart';
@import 'cart/partials/cart-points';



// USABLE CLASSES
@import 'global/usable';



.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Spark
// @import "./spark/spark";
// @import "./../../vendor/laravel/spark-aurelius/resources/assets/sass/spark";
