/* **** **** **** **** **********************
NOVA BACK OFFICE
********************** **** **** **** **** */

@import 'global/variables';



// SIDEBAR
.bg-logo {
    background: $c-primary;
}
.bg-grad-sidebar {
    background: $c-primary;
}
.sidebar-label,
.bg-grad-sidebar ul li a {
    color: $c-white;
    &:hover {
        color: $c-white;
    }
    &.router-link-active {
        color: $c-white;
    }
}
.bg-grad-sidebar h4 {
    color: transparentize($color: $c-white, $amount: 0.4);
}
// Icones
.bg-grad-sidebar svg use, 
.bg-grad-sidebar .sidebar-icon path {
    fill: transparentize($color: $c-white, $amount: 0.4);
}



// Hide buttons "Update and continue editing" + "Create and Add another"
button[dusk="create-and-add-another-button"] {
    visibility: hidden;
    pointer-events: none;
}
button[dusk="update-and-continue-editing-button"] {
    visibility: hidden;
    pointer-events: none;
}