/* **** **** **** **** **********************
COMPONENT : Hero
********************** **** **** **** **** */

.hero {
    padding: 6rem 0;
    position: relative;
    @include media-breakpoint-down(sm) {
        padding: 3rem 0;
    } 

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: transparentize($c-white, 0.25);
    }
}


.hero-content {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    @include media-breakpoint-down(xs) {
        flex-direction: column;
    }
}

.hero-content__img {
    width: 100%;
    max-width: 180px;
    margin-right: 6rem;
    background: white;
    border-radius: 200px;
    @include media-breakpoint-down(md) {
        max-width: 140px;
        margin-right: 3rem;
    }
    @include media-breakpoint-down(sm) {
        max-width: 100px;
    }
    @include media-breakpoint-down(xs) {
        margin-right: 0;
    }
}

.hero-text {
    font-size: 2.5rem;
    color: $c-grey;
    @include media-breakpoint-down(md) {
        font-size: 2.2rem;
    }
}

.hero-content__text .user-id {
    border-bottom: 1px solid $c-primary;
}