.login{
  width:31.2rem;
  padding:1.5rem;
  border:1px solid $c-grey-light;
  background-color:rgba(256,256,256,0.45);
  color:$c-grey;
  font-size: 1.7rem;
  margin:2.5rem auto 10rem;
}
.login__title{
  font-family: $f-primary;
  letter-spacing: 1.75px;
  line-height: 2.3rem;
  padding-bottom: 1rem;
}
.login__catchline{
  margin-bottom: 0.01rem;
  letter-spacing: 0.4px;
  line-height:2.3rem;
}
.login__block{
  width:100%;
}
.login__label{
  margin:0.9rem 0;
}
.login__input--grey{
  font-size: 2.3rem;
  color: $c-grey;
  padding:1.3rem 2rem;
  &::placeholder{
    color: $c-grey-light;
  }
}
.login__input--submit{
  margin-top:1.6rem;
}
.login__link{
  margin:1rem auto;
}

.minus{
  font-size: 1.2rem;
}

.index{
  position: relative;
  top: -0.5rem;
  font-size: 1rem;
}


