/* **** **** **** **** **********************
PAGE : Cart
********************** **** **** **** **** */


.cart .pill-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart .pill-item__link {
    position: relative;
    line-height: 1rem;
    padding: 1rem 0.5rem;
    transition: $trans-base;

    &:hover {
        cursor: pointer;
        color: $c-accent;
    }

    &--disabled {
        pointer-events: none;
        color: transparentize($c-grey, 0.8);
    }

    i {
        pointer-events: none;
        font-size: 1.4rem;
        margin: 0 0.5rem;
    }
}

.cart .delete i {
    pointer-events: none;
}

.cart .select-item select {
    border: none;
    background: none;
    padding: 0.5rem;
}

.cart-notif {
    margin: 1rem 0;
    padding: 0.5rem;
}


// CART Responsive
.table-small .cart-item {
    padding: 2rem;
    color: $c-grey;
    background: lighten($c-grey, 50%);
    &:nth-child(even) {
        background: lighten($c-grey, 45%);
    }
}

.table-small .cart-item__option {
    margin: 1rem 2rem 1rem 0;

    .label {
        font-size: 1.6rem;
        color: $c-grey;
    }
    
    .pill-item, .select-item, .price-item {
        margin: 1rem;
        @include media-breakpoint-down(xs) {
            margin: 0.25rem;
        }
    }
    .pill-item {
        justify-content: flex-start;
    }
}