/* **** **** **** **** **********************
GLOBAL : Buttons
********************** **** **** **** **** */

.button {
    // Overrides
    border: none;
    outline: none;
    box-shadow: none;
    // Custom
    font-size: 2rem;
    text-align: center;
    padding: 1rem 2rem;
    color: $c-white;
    background: $c-primary;
    transition: $trans-base;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;

    &:hover,
    &:focus,
    &:active {
        // Overrides
        border: none;
        outline: none;
        box-shadow: none;
        text-decoration: none;
        // Custom
        color: $c-white;

        &:before {
            left: 0;
        }
    }

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: $c-accent;
        transition: all 0.5s $ease-dynamic;
    }
}

.button[disabled] {
    background: $c-grey;
    &:hover, 
    &:active,
    &:focus {
        &:before {
            display: none;
        }
    }
}


.button-valid {
    @extend .button;
    background: $c-valid;
    &:before {
        background: darken($c-valid, 10%);
    }
}


.button-logout {
    @extend .button;
    background: $c-grey;
    &:before {
        background: darken($c-grey, 10%);
    }
}


.button-primary{
  font-size: 4.3rem;
  letter-spacing: 0.1px;
  padding:0px;
  text-align: center;
  font-family:$f-primary-thin;
  line-height: 1.5;
  height:auto;
  cursor:pointer;
}
