/* **** **** **** **** **********************
GLOBAL : Fonts
********************** **** **** **** **** */

@font-face {
    font-family: 'proxima-nova-regular';
    src: url('../../fonts/proxima-nova-regular.woff2') format('woff2'),
    url('../../fonts/proxima-nova-regular.woff') format('woff');
}

@font-face {
    font-family: 'proxima-nova-thin';
    src: url('../../fonts/proxima-nova-thin.woff2') format('woff2'),
    url('../../fonts/proxima-nova-thin.woff') format('woff');
}

@font-face {
    font-family: 'proxima-nova-bold';
    src: url('../../fonts/proxima-nova-bold.woff2') format('woff2'),
    url('../../fonts/proxima-nova-bold.woff') format('woff');
}

@font-face {
    font-family: 'proxima-nova-black';
    src: url('../../fonts/proxima-nova-black.woff2') format('woff2'),
    url('../../fonts/proxima-nova-black.woff') format('woff');
}