/* **** **** **** **** **********************
GLOBAL : Form
********************** **** **** **** **** */

input, textarea, select {
    color: $c-primary;
}


.form-field {
    position: relative;
    width: 100%;
    margin: 1rem 0;

    input, select, textarea {
        width: 100%;
        border: none;
        background: $c-form;
        padding: 1rem;
        border-bottom: 1px solid transparentize($c-primary, 0.75);
        transition: $trans-base;
        @include media-breakpoint-down(sm) {
            padding: 0.75rem;
        }
        @include media-breakpoint-down(xs) {
            padding: 0.5rem;
        }

        &:hover, 
        &:focus, 
        &:active {
            outline: none;
            border: none;
            border-bottom: 1px solid $c-accent;
        }
    }

    input[readonly],
    select[readonly],        
    textarea[readonly] {        
        border-bottom: 1px solid transparent;
        &:hover,
        &:focus,
        &:active {
            border-bottom: 1px solid transparentize($c-primary, 0.75);
        }
    }
}

.form-field > span {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    font-size: 1.4rem;
    padding: 0.25rem;
    transition: $trans-dynamic;
    opacity: 1;
    transform: translateY(-50%);
}
.label-hidden > span {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    font-size: 1.4rem;
    padding: 0.25rem;
    transition: $trans-dynamic;
}
// Show span label when focusing input
.form-field input, 
.form-field select {
    &:focus, 
    &:active {
        + span {
            opacity: 1;
            transform: translateY(-50%);
        }
    }
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $c-grey;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $c-grey;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $c-grey;
}




// BEGIN NOTIFICATIONS
.form-notification {
    display: block;
    width: 100%;
    padding: 0.5rem; 
    font-size: 1.6rem;

    &--info {
        color: $c-primary;
    }

    &--warn {
        color: $c-warn;;
    }

    &--invalid {
        color: $c-invalid;;
    }

    &--valid {
        color: $c-valid;;
    }
}
// ENDS NOTIFICATIONS




// VENDOR : SPARK : SUBSCRIPTION
.form-field.pay-field input {
    border: 2px solid $c-grey-light;
    border-radius: 5px;

    &:hover,
    &:active,
    &:focus {
        border: 2px solid darken($c-grey-light, 10%);
        border-radius: 5px;
    }
}

.form-field.pay-field span {
    position: relative;
    font-size: 1.8rem;
}

#subscription-card-element {
    position: relative;
    width: 100%;
    padding: 1.4rem;
    border: 2px solid $c-grey-light;
    border-radius: 5px;

    &:hover,
    &:active,
    &:focus {
        border: 2px solid darken($c-grey-light, 10%);
        border-radius: 5px;
    }
}