/* **** **** **** **** **********************
GLOBAL : General
********************** **** **** **** **** */


html, body {
    overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: $f-primary;
  font-size: 2rem;
  line-height: 2.4rem;
  color: $c-primary;
  background: $c-white;
}

a {
  text-decoration: none;
  color: $c-primary;
  transition: $trans-base;

  &:hover,
  &:focus,
  &:active {
    color: $c-accent;
    text-decoration: none;
  }
}

ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}


// LAYOUT
// Padding-top on main beacause header fixed
main.main {
  padding-top: 8rem;
  @include media-breakpoint-down(sm) {
    padding-top: 6rem;
  }
}


.logo-bg-white {
  background: white;
  border-radius: 400px;
}



/* **** **** **** **** **********************
TYPOGRAPHY
********************** **** **** **** **** */

.h1 {
    font-size: 5rem;
    color: $c-grey;
    @include media-breakpoint-down(md) {
     font-size: 4rem;
    }
}

.h2 {
    font-family: $f-primary-thin;
    font-size: 3.5rem;
    @include media-breakpoint-down(md) {
      font-size: 3rem;
    }
}
  
.h3 {
    font-size: 2.8rem;
    @include media-breakpoint-down(md) {
      font-size: 2.4rem;
    }
}
  
.h4 {
    font-family: $f-primary-bold;
    font-size: 2rem;
    text-transform: uppercase;
}
  
.h5 {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.h6 {
    font-family: $f-primary-bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}