.link{
  appearance: none;
  text-decoration: underline;
  font-family: $f-primary-bold;
}

.link--blue{
  color:$c-primary;
  &:hover,
  &:focus,
  &:active{
    color:$c-black;
  }
}


.link-simple {
  color: $c-primary;
  text-decoration: underline;
  &:hover,
  &:active,
  &:focus {
    color: $c-accent;
    text-decoration: underline;
  } 
}


.link-back {
  font-size: 2.2rem;
  color: $c-grey;
  display: flex;
  align-items: center;
  
  i {
    margin-right: 1rem;
  }
}