/* **** **** **** **** **********************
GLOBAL : Notifications classes
********************** **** **** **** **** */


// Colors
.info {
    color: $c-primary;
}
.warn {
    color: $c-warn;
}
.invalid {
    color: $c-invalid;;
}
.valid {
    color: $c-valid;;
}


// Tooltips
@keyframes flash-tooltip {
    0% { opacity: 0; }
    5% { opacity: 1; }
    85% { opacity: 1; }
    100% { opacity: 0; }
}
.flash-tooltip {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    min-width: 250px;
    padding: 1rem;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    color: $c-warn;
    background: $c-white;
    box-shadow: 0px 0px 10px transparentize($c-black, 0.75);
    transition: $trans-base;
    animation: 6s ease-in-out flash-tooltip forwards;
}


// Flash Pop Up Message
.flash-popup {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    padding: 2rem;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
    color: $c-warn;
    background: $c-white;
    box-shadow: 0px 0px 20px transparentize($c-black, 0.5);
    transition: $trans-base;

    &.info {
        color: $c-primary;
    }

    &.valid {
        color: $c-valid;
    }
}

.pop-yes {
    animation: 6s ease-in-out flash-tooltip backwards;
}


// Bootstrap alerts
.alert {
    margin-top: 1rem;
}