/* **** **** **** **** **********************
GLOBAL : Table
********************** **** **** **** **** */


// OVERRIDES
table {
    border-spacing: 0px;
}
.table td {
    vertical-align: initial;
    border: none;
}
.table thead th {
    border: none;
}



// CUSTOM
.table {
    width: 100%;

    thead tr {
        color: $c-white;
        background: $c-primary;
        th { font-weight: 400; }
    }

    tbody tr {
        color: $c-grey;
        background: lighten($c-grey, 50%);
        &:nth-child(even) {
            background: lighten($c-grey, 45%);
        }

        &:hover, &:active, &:focus {
            color: $c-primary;
        }
    }

    th, td {
        padding: 1rem;
    }
}

.table-large {
    @include media-breakpoint-down(sm) {
        display: none;
    }
}
.table-small {
    font-size: 1.8rem;
    display: none;
    @include media-breakpoint-down(sm) {
        display: block;
    }
}

.table-small__head {
    color: $c-white;
    background: $c-primary;
    padding: 1rem;
    span { font-weight: 400; }
}
.table-small article {
    padding: 1rem;
    color: $c-grey;
    background: lighten($c-grey, 50%);
    &:nth-child(odd) {
        background: lighten($c-grey, 45%);
    }
    
    &:hover, &:active, &:focus {
        color: $c-primary;
    }
}


// Style for show/hide table-item
.table-item__head:hover {
    cursor: pointer;
}
.table-item__content {
    display: none;
    &.active {
        display: block;
    }
}




// DATATABLES.JS
// Hide Search + Infos
// .dataTables_filter,
// .dataTables_info {
//     display: none;
// }

// Arrows
.dataTables_paginate.paging_simple_numbers {
    display: flex;
    margin: 1rem 0;
}
.paginate_button {
    color: $c-primary;
    margin: 0.25rem 0.5rem;
    &:hover,
    &:active,
    &:focus {
        cursor: pointer;
        color: $c-accent;
    }
    &.current {
        color: $c-accent;
        text-decoration: underline;
    }
}
.paginate_button.previous, 
.paginate_button.next {
    margin: auto 1rem;
    width: 0;
    height: 0;
    border-style: solid;
    transition: $trans-base;
}
.paginate_button.previous {
    border-width: 10px 15px 10px 0;
    border-color: transparent $c-grey transparent transparent;
    &:hover,
    &:active,
    &:focus {
        cursor: pointer;
        border-color: transparent $c-primary transparent transparent;
    }
}
.paginate_button.next {
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent $c-grey;
    &:hover,
    &:active,
    &:focus {
        cursor: pointer;
        border-color: transparent transparent transparent $c-primary;
    }
}