/* **** **** **** **** **********************
GLOBAL : Usable classes
********************** **** **** **** **** */


// text flickers when transform: scale
.no-flickr {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}


// Hide something
.hidden {
    display: none;
}


// margin-top after component hero
.after-hero {
    margin-top: 6rem;
    @include media-breakpoint-down(md) {
        margin-top: 4rem;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 3rem;
    }
}
// margin-top before footer 
.before-footer {
    margin-bottom: 6rem;
    @include media-breakpoint-down(md) {
        margin-bottom: 4rem;
    }
    @include media-breakpoint-down(sm) {
        margin-bottom: 3rem;
    }
}


// Margins
.has-margin-auto {
    margin: auto;
}
.has-m-top-2 {
    margin-top: 2rem;
}
.has-m-top-4 {
    margin-top: 4rem;
}
.has-m-bottom-2 {
    margin-bottom: 2rem;
}
.has-m-bottom-4 {
    margin-bottom: 4rem;
}
// Paddings
.has-p-top-2 {
    padding-top: 2rem;
}
.has-p-top-4 {
    padding-top: 4rem;
}
.has-p-bottom-2 {
    padding-bottom: 2rem;
}
.has-p-bottom-4 {
    padding-bottom: 4rem;
}


// Buttons
// For a fullwidth button
.is-fullwidth {
    display: block;
    width: 100%;
}

.delete {
    color: $c-grey;
    transition: $trans-base;

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
        color: $c-invalid;
    }
}

.delete-item {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    font-size: 2.8rem;
    color: #eb068d;
    border: 1px solid #eb068d;
    border-radius: 20px;
    opacity: 0.5;
    transition: $trans-base;

    &:hover, &:active, &:focus {
        cursor: pointer;
        background: $c-invalid;
        color: $c-white;
        opacity: 1;
    }
}


// Lists
.has-list-style-type, 
ul.has-list-style-type , 
ol.has-list-style-type {
    li:before {
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $c-primary; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */ 
        width: 0.8em; /* Also needed for space (tweak if needed) */
    }
}


// Text
.has-text-align-left {
    text-align: left;
}
.has-text-align-center {
    text-align: center;
}
.has-text-align-right {
    text-align: right;
}


// Font weight
.has-light {
    font-weight: $f-light;
}
.has-semi-bold {
    font-weight: $f-semi-bold;
}
.has-bold {
    font-weight: $f-bold;
}


// Font style
.has-text-initial {
    text-transform: initial;
}
.has-uppercase {
    text-transform: uppercase;
}
.has-capitalize {
    text-transform: capitalize;
}


// Text decoration
.has-underline {
    text-decoration: underline;
}


// Font color
.has-color-primary {
    color: $c-primary;
}
.has-color-accent {
    color: $c-accent;
}
.has-color-white {
    color: $c-white;
}
.has-color-grey {
    color: $c-grey;
}


// FLEX LAYOUT
.flex {
    display: flex;
    flex-wrap: wrap;
}
.nowrap {
    flex-wrap: nowrap;
}


// BEGIN CUSTOM BOOTSTRAP CLASSES FOR OVERRIDE //
.container-fullwidth {
    @extend .container-fluid;
    margin: 0;
    padding: 0;
}
.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
    & > [class^="col-"],
    & > [class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}
.row.no-margin {
    margin-left: 0;
    margin-right: 0;
}
// ENDS CUSTOM BOOTSTRAP CLASSES FOR OVERRIDE //