/* **** **** **** **** **********************
GLOBAL : Variables
********************** **** **** **** **** */

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;




/* **** **** **** **** **********************
GLOBAL : Variables (custom)
********************** **** **** **** **** */


// FONTS
$f-primary: 'proxima-nova-regular', 'Arial', sans-serif;
$f-primary-thin: 'proxima-nova-thin', 'Arial', sans-serif;
$f-primary-bold: 'proxima-nova-bold', 'Arial', sans-serif;
$f-primary-black: 'proxima-nova-black', 'Arial', sans-serif;
// Weight
$f-light: 300;
$f-regular: 400;
$f-semi-bold: 600;
$f-bold: 700;


// COLORS
// General
$c-primary: #002d72; // Bleu marine
$c-accent: #29b3fb; // Bleu cyan
$c-grey-blue: #DDE3E6; // Navigation du tunnel d'inscription
$c-form: #ededed; // Gris clair
$c-grey: #647a84; // Gris foncé
$c-grey-light: #bfc3c6; // Gris clair
$c-grey-lighter:#ececec; // GRis encore plus clair (exemple input background)
$c-invalid: #eb068d; // Notifications ou rupture de sotck (par exemple)
$c-warn: #ee5f5b; // Notifications ou dernières pièces disponible (par exemple)
$c-valid: #2FB92E; // Notifications ou bouton de validation de paiement (par exemple)
$c-white: #FFF;
$c-black: #000;


// TRANSITIONS
$trans-base: all 0.3s ease-in-out;
$trans-dynamic: all 0.3s cubic-bezier(.84,.02,.22,.99);
// Easings
$ease-dynamic: cubic-bezier(.84,.02,.22,.99);


// BREAKPOINTS
$xs-break: 374px; // Custom
// Bootstrap
$sm-break: 575px;
$md-break: 767px;
$lg-break: 991px;
$xl-break: 1199px;

// SIZE
$s-link:1.4rem;

