.footer{
  background-color: $c-primary;
  height:30.9rem;
  padding:3.5rem 14.0rem;
  font-family: $f-primary;
}
.footer__content{
  flex-direction:row;
  justify-content: space-between;
}

.footer__logo{
  margin:25px 0;
  width: auto;
  max-width: 250px;
}

.footer-contact {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.footer__block--right{
  max-width: 100%;
}

.paiement__logos{
  width: 16.0rem;
  height:2.5rem;
  background: url('/img/paiements_icons.png') 0 0 no-repeat;
}

.footer__paiement{
  flex-direction:row;
}

.paiement__logo{
  visibility:hidden;
  max-width:37px;
}

.paiement__title{
  margin-top: 1px;
  font-size:2rem;
  line-height: 3rem;
}

.footer__links{
  flex-direction: row;
  margin-top: 2.5rem;
  width: 50rem;
}

.footer__link{
  color:$c-white;
  font-size:$s-link;
  line-height: 2rem;
}

@media screen and (max-width: $xl-break) {
  .footer{
    padding:3rem 10rem;
  }
}

@media screen and (max-width: $lg-break) {
  .footer{
    padding:3rem;
  }
  .footer__content{
    flex-direction: column;
    justify-content: center;
  }
  .footer__logo{
    margin:auto;
  }
  .footer__block--right{
    margin: auto;
    padding-top: 3rem;
  }
  .paiement__title{
    font-size: 1.8rem;
  }
  .footer__links{
    max-width: 100%;
  }
}

