/* **** **** **** **** **********************
PARTIAL : Header (main)
********************** **** **** **** **** */


.header-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: $c-primary;
    color: $c-white;
    padding: 2rem 0;
    @include media-breakpoint-down(sm) {
       padding: 0.5rem 0;
    }

    &:before {
        content: '';
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        width: 100%;
        height: 5px;
        background: $c-primary;
    }
}


.header-container {
    display: flex;
    align-items: center;
    @media screen and (max-width: 370px) {
        flex-wrap: wrap;
    }
}


.header-logo {
    position: relative;
    z-index: 920;
    width: 100%;
    max-width: 300px;
    @include media-breakpoint-down(md) {
        max-width: 250px;
    }
    @include media-breakpoint-down(xs) {
        max-width: 160px;
    }
}

.dropdown-header {
    color: $c-invalid;
    font-family: $f-primary-bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.user-icon-only {
    margin-left: auto;
    .header-nav__item:after {
        display: none;
    }
}

.header-nav-container {
    margin-left: auto;
}
.header-nav {
    display: flex;
}

.header-nav__item {
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
        content: '';
        position: relative;
        bottom: 0;
        left: 0;
        margin: 0 2rem;
        height: 35px;
        border: 1px solid $c-white;
        opacity: 0.2;
        @include media-breakpoint-down(lg) {
           margin: 0 1rem;
        }
    }

    a {
        padding: 1rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        text-align: center;
        color: $c-white;
        @include media-breakpoint-down(lg) {
            padding: 0.5rem;
        }

        &:hover {
            color: $c-accent;
        }
    }
}


// Shopping cart
.header-cart {
    position: relative;
    z-index: 910;
    @include media-breakpoint-down(md) {
        margin-right: 2rem;
    }
    @include media-breakpoint-down(sm) {
        margin-right: 1rem;
    }
}
.header-cart a {
    color: $c-white;
    padding: 1rem;
    position: relative;

    &:hover,
    &:active,
    &:focus {
        color: $c-accent;
        cursor: pointer;

        .header-cart__tooltip {
            opacity: 1;
            pointer-events: initial;
            cursor: pointer;
        }
    }
}
.header-cart__tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    background: $c-white;
    color: $c-primary;
    box-shadow: 0px 0px 10px transparentize($c-black, 0.5);
    font-size: 1.6rem;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: $trans-base;

    p { margin: 0; }
}


// Profile
.header-main .navbar {
    padding-left: 0;
    padding-right: 0;
    z-index: 910;
    @include media-breakpoint-down(md) {
        margin-right: 2rem;
        margin-left: auto;
    }
    @include media-breakpoint-down(sm) {
        margin-right: 1rem;
    }
}
.header-main .navbar.navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.collapse:not(.show) {
    display: flex !important;
}
.header__profil{
    flex-direction:column;
    font-size: 2rem;
}
.header__dropdown-menu a{
    color:$c-primary;
}


// BEGIN BURGER
// From CodePen, Stephen Nelson : https://codepen.io/nelsonswork/pen/XbbJVx
.header-burger-container {
    display: none;
    position: relative;
    z-index: 920;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.header-burger {
    position: absolute;
    background: $c-white;
    width: 100%;
    height: 3px;
    top: 60%;
    right: 0px;
    margin-top: -5px;
    opacity: 1;

    &:before {
        position: absolute;
        background: $c-white;
        width: 100%;
        height: 3px;
        top: 10px;
        content: "";
        display: block;
    }

    &:after {
        position: absolute;
        background: $c-white;
        width: 100%;
        height: 3px;
        bottom: 10px;
        content: "";
        display: block;
    }
}
.header-burger::after, .header-burger::before, .header-burger {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.header-burger-container.active .header-burger {
    background: transparentize($c-white, 1);

    &:after{
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        bottom: 0px;
    }

    &:before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        top: 0px;
    }
}
// ENDS BURGER


// BEGIN MOBILE MENU
@include media-breakpoint-down(md) {
    .header-nav-container {
        position: fixed;
        z-index: 900;
        width: 100%;
        height: 100%;
        right: -100%;
        top: 0;
        transition: all 0.75s $ease-dynamic;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $c-primary;
        &.active {
            right: 0;
            .header-nav {
                opacity: 1;
                transition: all 0.5s $ease-dynamic 0.3s;
            }
        }
    }

    .header-nav {
        flex-direction: column;
        opacity: 0;
        transition: all 0.5s $ease-dynamic 0s;
    }

    .header-nav__item {
        flex-direction: column;

        &:last-child:after {
            display: none;
        }
        &:after {
            // display: none;
            width: 50px;
            height: 0;
        }

        a {
            font-size: 2.5rem;
            padding: 1rem;
            margin: 1rem 0;
        }
    }

    .header-burger-container {
        display: block;
    }
}
@include media-breakpoint-down(sm) {
    .header-nav__item {
        a {
            font-size: 2rem;
        }
    }
}
@include media-breakpoint-down(xs) {
    .header-nav__item {
        a {
            font-size: 1.6rem;
        }
    }
}
// ENDS MOBILE MENU
