<template>

    <div v-if="message.text" :class="'flash-popup pop-'+message.classPop+' '+message.class">
        <span>{{ message.text }}</span>
    </div>

</template>




<script>
    export default {

        computed: {
            message: {
                get: function () {
                    return this.$store.state.message;
                },
                set: function (newMessage) {
                    return this.message = newMessage;
                }
            }
        },

        mounted() {
            // Look for $store.message change, to make flash-message disapear
            this.$store.watch(
                state => state.message, () => {
                    setTimeout(() => {
                        this.message.classPop = 'no';
                    }, 6000);
                }
            );
        }

    }
</script>