<template>
    <sup>{{ this.$store.state.totalQty }}</sup>
</template>




<script>
    export default {

        mounted: function() {
            this.$store.dispatch({
                type: 'loadPoints'
            })
            this.$store.dispatch({
                type: 'loadProducts'
            })
        }

    }
</script>