<template>


    <div v-if="this.productData.stock > 0">
        <form v-on:submit.prevent="submit">

            <input type="hidden" name="_token" :value="csrf">    

            <label for="quantity" class="form-field">
                <select name="quantity" :id="'quantity-'+this.productData.id" @click="setQuantity">
                        <option 
                            v-for="index in 10" 
                            :key="index" 
                            :value="index"
                            >
                            {{index}}
                        </option>
                </select>
            </label>

            <button 
                class="button" 
                type="submit"
                >
                Ajouter au panier
                <i class="fas fa-shopping-cart"></i>
            </button>

        </form>
    </div>

    
     <div v-else>
        <form v-on:submit.prevent="submit">

            <label for="quantity" class="form-field">
                <select name="quantity" :id="'quantity-'+this.productData.id" @click="setQuantity" class="invalid" disabled>
                        <option 
                            v-for="index in 10" 
                            :key="index" 
                            :value="index"
                            >
                            {{index}}
                        </option>
                </select>
            </label>

            <button 
                class="button" 
                type="submit" 
                disabled
                >
                Ajouter au panier
                <i class="fas fa-shopping-cart"></i>
            </button>

        </form>
    </div>


</template>




<script>
    export default {


        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                quantity: 1
            }
        },


        props: {
            productData: Object
        },


        mounted() {
            this.product = this.productData;
            this.product.quantity = 1;
        },


        methods: {
            setQuantity: function () {
                let select_id = document.getElementById('quantity-'+this.product.id);
                this.quantity = select_id.options[select_id.selectedIndex].value;
                this.product.quantity = this.quantity;
            },
            submit: function () {
                this.$store.dispatch({
                    type: 'addProduct',
                    product: this.product
                });
            }
        }


    }
</script>
