<template>
    <section id="cart-points" class="cart-points">


        <div class="cart-points-header">
            <h4 class="h4">Mes points</h4>
        </div>

        <div class="cart-points-points">
            <div class="cart-points-points__available">
                <span>Points disponibles</span>
                <span class="has-bold">{{ this.$store.state.points }}</span>
            </div>
            <div class="cart-points-points__used">
                <span>Points de la commande</span>
                <span class="has-bold">{{ this.$store.state.pointsUsed }}</span>
            </div>
            <div class="cart-points-points__left">
                <span>Points restants</span>
                <span v-if="this.$store.state.pointsLeft < 0"
                    class="has-bold invalid">
                    {{ this.$store.state.pointsLeft }}
                </span>
                <span v-else 
                    class="has-bold">
                    {{ this.$store.state.pointsLeft }}
                </span>
            </div>
        </div>


    </section>
</template>




<script>
    export default {

        

    }
</script>




<style scoped>
.cart-points {
    position: relative;
    top: 1.5rem;
    margin-bottom: 1.5rem;
}
</style>