<template>
    <div v-if="this.$store.state.products.length">
        <article 
            v-for="cart_item in this.$store.state.products" 
            :key="cart_item.product.id" 
            class="cart-item">
            <div class="row align-items-center">


                <div class="col-10">
                    
                    <p>{{ cart_item.product.name }}</p>

                    <div class="flex">
                        <div class="cart-item__option">
                            <span class="label">Quantité</span>
                            <div class="pill-item">
                                <span v-if="cart_item.quantity <= 1" 
                                    @click="down" 
                                    :data-productid="cart_item.product.id" 
                                    class="pill-item__link pill-item__link--disabled">
                                    <i class="fas fa-minus-circle"></i>
                                </span>
                                <span v-else 
                                    @click="down" 
                                    :data-productid="cart_item.product.id" 
                                    class="pill-item__link">
                                    <i class="fas fa-minus-circle"></i>
                                </span>
                                {{ cart_item.quantity }}
                                <span v-if="cart_item.quantity >= cart_item.product.stock" 
                                    @click="up" 
                                    :data-productid="cart_item.product.id" 
                                    class="pill-item__link pill-item__link--disabled">
                                    <span class="flash-tooltip">
                                        Quantité maximale pour ce produit. Le stock est limité.
                                    </span>
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                                <span v-else 
                                    @click="up" 
                                    :data-productid="cart_item.product.id" 
                                    class="pill-item__link">
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                            </div>
                        </div>            
                        <div class="cart-item__option">
                            <span class="label">Taille</span>
                            <div class="select-item">
                                <select name="" id="" v-if="cart_item.product.size">
                                    <template v-for="size in sizesData">
                                        <option v-if="cart_item.product.size == size" :key=" size" selected>
                                            {{ size }}
                                        </option>
                                        <option v-else :key="size">
                                            {{ size }}
                                        </option>
                                    </template>
                                </select>
                                <div v-else>
                                    -
                                </div>
                            </div>
                        </div>
                        <div class="cart-item__option">
                            <span class="label">Points</span>
                            <div class="price-item">
                                {{ 
                                    cart_item.product.price * cart_item.quantity
                                }}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-2">
                    <span @click="deleteItem" 
                        :data-productid="cart_item.product.id" 
                        class="delete">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </div>


            </div>
        </article>
    </div>


    <div v-else>
        <p class="has-color-grey">Vous n'avez pas encore ajouté de produits.</p>
    </div>
</template>


<script>
export default {


    props: {
        sizesData: Object
    },


    mounted() {
        this.sizes = this.sizesData;
    },


    methods: {        
        down: function(event) {
            let productId = event.target.dataset.productid;
            this.$store.dispatch({
                type: 'updateProductQty',
                newQty: 'down',
                productId: productId
            })
        },
        up: function(event) {
            let productId = event.target.dataset.productid;
            this.$store.dispatch({
                type: 'updateProductQty',
                newQty: 'up',
                productId: productId
            })
        },
        deleteItem: function(event) {
            let productId = event.target.dataset.productid;
            this.$store.dispatch({
                type: 'deleteProduct',
                productId: productId
            })
        }
    }


}
</script>
