<template>
    <div>
        <div v-if="this.$store.state.pointsLeft < 0"
            class="cart-notif">
            <span class="invalid">
                Vous avez dépassé votre crédit de points ({{ this.$store.state.points }}).
            </span>
        </div>
        <div v-if="this.$store.state.pointsUsed < this.$store.state.pointsMini"
            class="cart-notif">
            <span class="invalid">
                Votre commande doit être de {{ this.$store.state.pointsMini }} points minimum.
            </span>
        </div>
    </div>
</template>




<script>
export default {





}
</script>
