<template>
    <section id="cart-points" class="cart-points">


        <div class="cart-points-header">
            <h4 class="h4">Mes points</h4>
        </div>

        <div class="cart-points-points">
            <div class="cart-points-points__available">
                <span>Points disponibles</span>
                <span class="has-bold">{{ this.$store.state.points }}</span>
            </div>
            <div class="cart-points-points__used">
                <span>Points de la commande</span>
                <span class="has-bold">{{ this.$store.state.pointsUsed }}</span>
            </div>
            <div class="cart-points-points__left">
                <span>Points restants</span>
                <span v-if="this.$store.state.pointsLeft < 0"
                    class="has-bold invalid">
                    {{ this.$store.state.pointsLeft }}
                </span>
                <span v-else
                    class="has-bold">
                    {{ this.$store.state.pointsLeft }}
                </span>
            </div>
        </div>


        <div class="cart-points-footer">
            <form v-on:submit.prevent="submit">

                <input type="hidden" name="_token" :value="csrf">

                <button v-if="this.$store.state.pointsLeft < 0 || this.$store.state.products.length == 0 || this.$store.state.pointsUsed < this.$store.state.pointsMini"
                    class="button is-fullwidth"
                    disabled
                    type="submit">
                    Valider mon panier
                </button>
                <button v-else
                    class="button is-fullwidth"
                    type="submit">
                    Valider mon panier
                </button>

            </form>
        </div>

        <div class="cart-points-infos">
            <p>
                Vous recevrez un mail de confirmation.<br>
                Vous recevrez votre commande sous un délai de 4 à 6 semaines.
            </p>
        </div>


    </section>
</template>




<script>
export default {


    data() {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        }
    },

    methods: {
        submit: function () {
            this.$store.dispatch({
                type: 'validateOrder'
            })
        }
    }


}
</script>
