<template>
    <tbody v-if="this.$store.state.products.length">
        <tr
            v-for="cart_item in this.$store.state.products"
            :key="cart_item.product.id">

            <td class="">{{ cart_item.product.name }}</td>

            <td class="pill-item has-text-align-center">
                <span v-if="cart_item.quantity <= 1"
                    @click="down"
                    :data-productid="cart_item.product.id"
                    class="pill-item__link pill-item__link--disabled">
                    <i class="fas fa-minus-circle"></i>
                </span>
                <span v-else
                    @click="down"
                    :data-productid="cart_item.product.id"
                    class="pill-item__link">
                    <i class="fas fa-minus-circle"></i>
                </span>
                {{ cart_item.quantity }}
                <span v-if="cart_item.quantity >= cart_item.product.stock"
                    @click="up"
                    :data-productid="cart_item.product.id"
                    class="pill-item__link pill-item__link--disabled">
                    <span class="flash-tooltip">
                        Quantité maximale pour ce produit. Le stock est limité.
                    </span>
                    <i class="fas fa-plus-circle"></i>
                </span>
                <span v-else
                    @click="up"
                    :data-productid="cart_item.product.id"
                    class="pill-item__link">
                    <i class="fas fa-plus-circle"></i>
                </span>
            </td>

            <td class="has-text-align-center">
                {{
                    cart_item.product.price * cart_item.quantity
                }}
            </td>

            <td class="has-text-align-center">
                <span @click="deleteItem"
                    :data-productid="cart_item.product.id"
                    class="delete">
                    <i class="fas fa-trash-alt"></i>
                </span>
            </td>

        </tr>
    </tbody>

    <tbody v-else>
        <tr>
            <td>Vous n'avez pas encore ajouté de produits.</td>
        </tr>
    </tbody>
</template>




<script>
export default {


    props: {
        sizesData: Object
    },


    mounted() {
        this.sizes = this.sizesData;
    },


    methods: {
        down: function(event) {
            let productId = event.target.dataset.productid;
            this.$store.dispatch({
                type: 'updateProductQty',
                newQty: 'down',
                productId: productId
            })
        },
        up: function(event) {
            let productId = event.target.dataset.productid;
            this.$store.dispatch({
                type: 'updateProductQty',
                newQty: 'up',
                productId: productId
            })
        },
        deleteItem: function(event) {
            let productId = event.target.dataset.productid;
            this.$store.dispatch({
                type: 'deleteProduct',
                productId: productId
            })
        }
    }


}
</script>
