/* **** **** **** **** **********************
PARTIAL : Cart Points
********************** **** **** **** **** */

.cart-points {
    border: 1px solid $c-primary;
}

.cart-points-header, 
.cart-points-points,
.cart-points-footer, 
.cart-points-infos {
    padding: 1.5rem;
}

.cart-points-header {
    background: $c-primary;
    color: $c-white;

    h4 {
        margin: 0;
    }
}

.cart-points-points__available, 
.cart-points-points__used, 
.cart-points-points__left {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.cart-points-list {
    border-bottom: 1px solid $c-primary;
}

.cart-points-footer {
    display: flex;
    justify-content: center;
}

.cart-points-infos {
    font-size: 1.6rem;
    color: $c-grey;
    text-align: right;
}