/* **** **** **** **** **********************
LAYOUT : Container Sidebar
********************** **** **** **** **** */


.container-sidebar {    
    .sidebar, 
    .main-content {
        padding: 2rem;
        background: $c-white;
    }
}

.sidebar-container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}