/* **** **** **** **** **********************
PAGE : Shop
PARTIAL : Product Card
********************** **** **** **** **** */

// Le product-container est nécessaire pour avoir l'equal height sur les product-cards
.product-container { 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: 100%; // for equal height product-cards
    max-width: 400px;
    margin: 0 auto;
}
.product {
    padding: 1rem;
    border: 1px solid $c-primary;
    height: 100%; // for equal height product-cards
    display: flex; // for equal height product-cards
    flex-direction: column; // for equal height product-cards
}




// BEGIN HEADER
.product-header {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(md) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .product-header-col {
        &:last-child {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            @include media-breakpoint-down(md) {
                align-items: center;
            }
        }
    }
}

.product-header__name--variant{
    font-size: 1.6rem;
}

.product-header__material {
    font-size: 1.6rem;
}

.product-header__price {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: $c-white;
    background: $c-primary;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.5rem;
    @include media-breakpoint-down(md) {
        margin: 0.5rem 0;
    }
}

.product-header__quantity {
    text-align: right;
    text-transform: uppercase;
    font-size: 1.6rem;
}
// ENDS HEADER



// BEGIN IMG
.product-img {
    margin: auto 0;
    
    img {
        display: block;
        max-width: 300px;
        margin: 2rem auto;
    }
}
// ENDS IMG



// BEGIN FOOTER
.product-footer {
    margin: auto 0 0; // for equal height product-cards
}
.product-footer form {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(lg) {
        flex-direction: column;
        align-items: center;
    }

    label {
        width: auto;
        margin: 0;
        @include media-breakpoint-down(lg) {
            margin-bottom: 1rem;
        }
        #quantity {
            padding: 0.5rem;
            width: auto;
        }
    }

    .button {
        padding: 0.75rem 1rem;
    }
}
// ENDS FOOTER