/* **** **** **** **** **********************
PAGE : Shop
PARTIAL : Cart
********************** **** **** **** **** */

.product-cart {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    margin: 1.5rem 0;
    border: 1px solid $c-primary;
}

.product-cart-header, 
.product-cart-list,
.product-cart-points,
.product-cart-footer {
    padding: 1.5rem;
}

.product-cart-header {
    background: $c-primary;
    color: $c-white;

    h4 {
        margin: 0;
    }
}

.product-cart-item, 
.product-cart-points__used, 
.product-cart-points__left {
    display: flex;
    justify-content: space-between;
}

.product-cart-list {
    border-bottom: 1px solid $c-primary;
}
.product-cart-item {
    margin: 0.5rem 0;

    &__name {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

.product-cart-footer {
    display: flex;
    justify-content: center;
}